.bag-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-align: left;
}

span {
    font-weight: 700;
}

.total-amount-container {
  display: flex;
  justify-content: space-between;
}

.total {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.total-amount {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.gotobag {
  border: 1px solid #1D1F22;
  background-color:white;
  padding: 5% 10%;
  word-wrap:normal;
  margin-right: 5%;
}

.gotopay {
  background: #5ECE7B;
  padding: 5% 10%;
  color: white;
  border: none;
  word-wrap:normal;
}

.button-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.cart {
  margin: 6vh 1vw 2vh;
  background: url('./cart.png') center no-repeat;
  background-size: cover;
    height: 1.85em;
    width: 1.6em;
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

@media screen and (min-width: 375px) {
  .cart {
    margin: 5.5vh 1vw 2vh;
  }
}

@media screen and (min-width: 800px) {
  .cart {
    margin: 3vh 1vw 2vh;
  }
}