.wrapper {
  display: flex;
  flex-wrap: nowrap;
  background: white;
  width: 100%;
  justify-content:space-around;
}

.wrapper__start {
  display: flex;
  justify-content:space-between;
  width: 15%;
  padding: 2vh 0;
}

@media screen and (max-width: 600px) {
  .wrapper__start {
    flex-wrap: wrap;
  }
}

.wrapper__center {
  display: flex;
  padding: 2vh 0;
}

.wrapper__end {
  display: flex;
  justify-content: space-evenly;
  width: 10%;
}

.page {
  color: #1D1F22;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 0.5vh 1vw;
}
/*
@media screen and (max-width: 600px) {
  .page {
    margin: ;
  }
} */

