.currency-change {
  background: url('./dollar.png') left no-repeat, url('./arrow-down.png') right no-repeat;
  background-size: 1.35em, 0.6em;
  /* padding: 0 5px; */
  margin: 0 1vw;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: hidden;
  /* min-width: fit-content; */
}

.currency-change:focus {
  background: url('./dollar.png') left no-repeat, url('./arrow-up.png') right no-repeat;
  background-size: 1.35em, 0.6em;
}